---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/Presentacion.astro'
---

<Layout title="Leandro Herrera | Frontend Dev.">
	<main>
		<h1>Portfolio</h1>
		<Presentacion></Presentacion>
	</main>
</Layout>

<style>
	main {

	}
</style>
