---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/Presentacion.astro'
import Age from '../components/Age.astro'
import Idioma from '../components/Idioma.astro'
import Modo from '../components/ModoOscuro.astro'
import Enlaces from '../components/Enlaces.astro'
import Tecnologias from '../components/Tecnologias.astro'
---

<Layout title="Leandro Herrera | Frontend Dev.">
	<main class="grid grid-cols-3 gap-2 md:grid-cols-4 md:gap-4 my-5 container mx-auto xl:px-20">
		<h1>Portfolio</h1>
		<Presentacion/>
		<Age color='bg-[#ff4848d3]' texto='edad' edad='30' descripcion='años'/>
		<Age color='bg-blue-400/80' texto='' edad='+4' descripcion='años de experiencia'/>
		<Idioma/>
		<Tecnologias/>
		<Modo/>
		<Enlaces href='https://www.linkedin.com/in/leandroherrera1002/'/>
		<Enlaces href='mailto:leandroherrera1002@gmail.com'/>
		<Enlaces href='https://github.com/leandroh1002'/>
	</main>
</Layout>

<style>
	main {

	}
</style>
