---
interface Props {
    texto: string;
	edad: string;
    descripcion: string;
    color: string;
}

const { edad, texto, descripcion, color } = Astro.props;
---
<div class=`text-white rounded-3xl flex relative overflow-hidden aspect-square shadow-sm ${color} p-4 justify-center items-center`>
    <div class="flex justify-center items-center flex-col">
        <p class="text-xs md:text-lg uppercase font">{texto}</p>
        <p class="text-4xl md:text-8xl font-bold">{edad}</p>
        <p class="text-xs md:text-xl uppercase font-semibold text-center">{descripcion}</p>
    </div>
</div>