---
---
<div class="text-white rounded-3xl flex relative overflow-hidden aspect-square shadow-sm bg-[#ff4848d3] p-4 justify-center items-center w-64">
<div class="flex justify-center items-center flex-col">
        <h2 class="text-xs md:text-lg uppercase font">Edad</h2>
        <h2 class="text-4xl md:text-8xl font-bold">30</h2>
        <h3 class="text-xs md:text-xl uppercase font-semibold text-center">Años</h3>
    </div>
</div>