---
---
<div class="flex justify-center items-center bg-[#1c053a9c] dark:bg-[#af72ff56] rounded-3xl relative overflow-hidden col-span-1 aspect-square shadow-sm">
    <div class="ThemeCard_checkbox-wrapper-5__30E_2"></div>
    <div class="ThemeCard_check__UYQD9">
        <input type="checkbox">
    </div>
</div>