---
---
<div class="relative col-span-3 aspect-square md:aspect-auto md:row-span-2 bg-[#1c053a9c] dark:bg-[#af72ff56] rounded-3xl overflow-hidden">
    <section>
        <img src="" alt="Aqui va una imagen de perfil">
    </section>
    <div class="h-full md:w-8/12 absolute top-0 left-0 p-4 md:p-8 flex flex-col justify-start  md:justify-end">
        <h1 class="text-3xl md:text-xl lg:text-5xl font-bold text-white mb-4 md:mb-5">Hola, Soy Leandro Herrera</h1>
        <p class="text-md md:text-lg lg:text-2xl text-white">Soy desarrollador frontend con experiencia en React. Soy bueno en CSS y HTML, así como en JavaScript. Me encanta aprender cosas nuevas y experimentar con nuevas tecnologías. Tengo buen ojo para los detalles y siempre pongo todo de mi en mi trabajo.</p>
    </div>
</div>
