---
---
<a href="" class="relative rounded-3xl col-span-2 md:aspect-auto overflow-hidden hover:scale-[103%] transition duration-500 ease-in-out">
<div class="w-full h-full absolute top-0 left-0 text-white p-4 md:p-8 z-10 pointer-events-none">
    <h2 class="font-bold text-md md:text-xl lg:text-4xl">Proyectos y pruebas</h2>
    <p class="font-base text-xs md:text-2xl lg:text-2xl md:w-4/5 lg:w-5/6 lg:mt-4">Aquí puedes encontrar algunos de mis proyectos, pruebas o experimentos.</p>
</div>
<div class="w-full h-full bg-[#1c053a9c] dark:bg-[#af72ff56] absolute">
<img src="" alt="">
</div>
</a>